<div
  class="fixed bottom-4 left-1/2 w-[360px] max-w-[92%] z-50 -translate-x-1/2 rounded-xl bg-gray-900 mb-safe mb-5  backdrop-blur-lg ">
  <nav class="flex items-center justify-between px-5 py-3">
    <button class="text-white hover:text-white/40 cursor-pointer transition-color duration-150 ease-smooth font-medium">
      <a routerLink="/plugin-stats-list">All plugin</a>
    </button>
    <button class="text-white hover:text-white/40 cursor-pointer transition-color duration-150 ease-smooth font-medium">
      <a routerLink="/recent-updated">Recent updated</a>
    </button>
    <button class="text-white hover:text-white/40 cursor-pointer transition-color duration-150 ease-smooth font-medium">
      <a routerLink="/top-downloads">Most downloaded</a>
    </button>

  </nav>
</div>
