<div class="flex flex-row justify-center text-center">
  <div class="flex flex-col">
    <div class="p-3">{{ "Top 100 downloaded plugin of all times" | uppercase }}</div>
    <ul>
      <li
        routerLink="/plugin-details/{{ plugin['pluginId'] }}"
        class="cursor-pointer
        hover:bg-rose-700 hover:text-white p-1 flex flex-row justify-between rounded"
        *ngFor="let plugin of top50"
      >
        <div>{{ plugin["name"] }}</div>
        <div>{{ plugin["statsDetails"]["downloads"] }}</div>
      </li>
    </ul>
  </div>
</div>
